@font-face {
  font-family: "Exo 2";
  src: url("../assets/fonts/Exo2-Regular.ttf");
}
@font-face {
  font-family: "Karla";
  src: url("../assets/fonts/Karla-Regular.ttf");
}
@font-face {
  font-family: "Mogra";
  src: url("../assets/fonts/Mogra-Regular.ttf");
}

$xl-breakpoint:1340px; 
$lg-breakpoint:1200px; 
$md-breakpoint:1024px; 
$sm-breakpoint:768px; 
$xs-breakpoint:475px;

$font-family-text: "Karla";
$font-family-digit: "Exo 2";
$font-family-heading: "Mogra";
