.back_ground_light{
    // background: url('/public/background/ArtStation\ -\ Explore.jpg');
    background-image: url(../../../assets/background/day.jpg);
    width: 100%;
    min-height: 100vh;
    // background-repeat: no-repeat;
    // object-fit: cover;
}
.back_ground_dark{
    // background: url('/public/background/ArtStation\ -\ Explore.jpg');
    background-image: url(../../../assets/background/day01.jpg);
    width: 100%;
    min-height: 100vh;
    // background-repeat: no-repeat
}

