.back_ground_light{
    // background: url('/public/background/ArtStation\ -\ Explore.jpg');
    background-image: url(../../../assets/background/day.jpg);
    width: 100%;
    // min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // object-fit: cover;
}
.back_ground_dark{
    // background: url('/public/background/ArtStation\ -\ Explore.jpg');
    background-image: url(../../../assets/background/day02.jpg);
    width: 100%;
    // min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // background-repeat: no-repeat
}

